<div class="container">
<p>Ask a question!</p>


	<% @entries.each do |entry| %>
		<% if entry.title != nil %>
			<h1><%= link_to "#{entry.title}", entry %></h1>
			<p><%= entry.content %></p>
		<% else %>
			<p><%= entry.content %></p>
		<% end %>
		<% if session[:user_id] == entry.user_id %>
			<p><%= link_to "Edit", edit_entry_path(entry) %></p>
			<p><%= link_to "Delete", entry, method: :delete %></p>
		<% end %>
	<% end %>
	<% if current_user %>
		<%= render "new_entry_form"  %>
	<% end %>
</div>
