<div class="container">
	<h2><%= @entry.title %></h2>
	<h1>Genre: <%= @entry.genre %></h1>
	<h1>Your note: <%= @entry.content %></h1>
		<% if current_user %>
			<h3><%= link_to "Edit", edit_entry_path(@entry) %>
			| <%= link_to "Delete", @entry, method: :delete %><h3>
		<% end %>
</div>
