<!DOCTYPE html>
<html>
<head>
  <title>MacOverflow</title>
  <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<div id='cssmenu'>
		<ul>
			<li class='active'><a href='#'><span>Home</span></a></li>
			<li><a href='#'><span>Login</span></a></li>
			<li><a href='#'><span>Sign-Up</span></a></li>
			<li><input type="text" class="form-control" placeholder="Search"></li>	
		</ul>
	</form>
</div>

  	
</header>

<body>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign Up", signup_path %> </li>
      <% end %>
		</ul>
	</nav>
  <% flash.each do |message_type, message| %>
  	<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
<%= yield %>

</body>
</html>
