<div id="login-form">
  <%= form_for(:session, url: login_path, id: 'login') do |f| %>

    <%= f.label :name, "Username" %>
    <%= f.text_field :name, class: 'form-control' %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <br>
    <%= f.submit "Log in" %>
  <% end %>
</div>